{{! source: https://github.com/OpenAPITools/openapi-generator/blob/v7.11.0/modules/openapi-generator/src/main/resources/python/setup.mustache }}
# coding: utf-8

{{>partial_header}}

from setuptools import setup, find_packages  # noqa: H301

# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools
NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
PYTHON_REQUIRES = ">= 3.8"
{{#apiInfo}}
{{#apis}}
{{#-last}}
REQUIRES = [
    "urllib3 >= 1.25.3, < 3.0.0",
    "python-dateutil >= 2.8.2",
{{#asyncio}}
    "aiohttp >= 3.8.4",
    "aiohttp-retry >= 2.8.3",
{{/asyncio}}
{{#tornado}}
    "tornado>=4.2, < 5",
{{/tornado}}
{{#hasHttpSignatureMethods}}
    "pem >= 19.3.0",
    "pycryptodome >= 3.9.0",
{{/hasHttpSignatureMethods}}
    "pydantic >= 2",
    "typing-extensions >= 4.7.1",
]

setup(
    name=NAME,
    version=VERSION,
    author="Kameleo Team",
    author_email="support@kameleo.io",
    description="This Python package provides convenient access to the Local API REST interface of the Kameleo Client.",
    long_description=open("README.md").read(),
    long_description_content_type="text/markdown",
    url="{{packageUrl}}",
    packages=find_packages(exclude=["test", "tests"]),
    install_requires=REQUIRES,
    license="MIT",
    keywords=["{{projectName}}", "kameleo", "stealth browsing platform", "anti-detect browser", "selenium", "webdriver", "browser automation", "web scraping", "puppeteer", "playwright", "headless", "chrome", "firefox", "chromium", "edge"],
    include_package_data=True,
    package_data={"{{{packageName}}}": ["py.typed"]},
    classifiers=[
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
    ]
)
{{/-last}}
{{/apis}}
{{/apiInfo}}